.logo {
	margin: 0;
	font-size: 1.6em;
	position: relative;
	z-index: 1;
}
.logo a {
	display: block;
	width: 120px;
	height: auto;
	padding: 0.6em 1em 0.4em 0.7em;
}
.logo img {
	width: 120px;
	height: auto;	
}

.nav-anchors {
	float: right;
}
.nav-anchors li {
	display: inline-block;
}
.nav-anchors a {
	display: block;
	padding: 0.75em 0.8em;
	border-left: 1px solid #333;
}
.nav-anchors a.active {
	color: #fff;
}

header[role="banner"] .nav {
	float: left;
	clear: none;
	margin: 0;
	border-top: 0;
}
.search {
	border: 0;
	padding: 0;
	position: absolute;
	top: 0.8em;
	right: 1em;
	width: 10em;
}
.queryselectorall .search, .queryselectorall [role="banner"] .nav {
	display: block;
}
